<template name="footer">
	{{#unless isSimpleMode}}
	<div id="footerContent" class="collapse {{#unless isFooterHidden}}in{{/unless}}">
		{{#if currentUser}} {{#unless loggingIn}}
		<p>Ctrl+Enterで送信</p>
		<p>番組のタグのみを付けたいときは放送局のタグを<b>タグ無し</b>に指定してください</p>
		{{/unless}} {{/if}}
		<p>オリジナルのグローバル理工兄弟は<a href="http://titech-ssr.blog.jp/archives/1010471361.html">こちら</a></p>
		<p><a href="https://github.com/qzwpq/GlobalRikohBrothers">Fork me on GitHub</a></p>
	</div>
	<button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#footerContent">{{#if isFooterHidden}}開く{{else}}隠す{{/if}}</button>
	{{/unless}}
</template>
